
.page {
  margin-top: 42px;
  margin-bottom: 60px;
}

#edit-page {
  margin-top: 60px;
}

#edit-page textarea {
  margin: auto;
}

#file-viewer img, 
#file-viewer audio, 
#file-viewer video {
  width: 100%;
}

.list-item-icon-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.list-item-inner-wrapper {
  display: table-cell;
  width: 100%;
}

.list-item-last-date,
.list-item-message {
  float: right;
}

.list-item-author-name, 
.list-item-message { 
  color: #ccc;
  font-size: .9em;
  font-weight: lighter;
  text-shadow: none;
}

.ui-icon-my-dir {
  background-image: url("../images/dir-icon.png");
}

.ui-icon-my-file {
  background-image: url("../images/file-icon.png");
}

.ui-icon-my-file,
.ui-icon-my-dir {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.page a.nav-button,
#view-page a.nav-button,
#edit-page a.nav-button {
  background-color: #B92B27;
  font-weight: normal;
  color: white;
  text-shadow: none;
  text-decoration: none;
}

ul.ui-listview.list-container li {
  border-right: 0;
  border-left: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  border-radius: 0;
  position: relative;
  left: 0;
  transition: left 250ms;
  -webkit-transition: left 250ms;
}

ul.list-container li.swiped {
  position: relative;
  left: -140px;
}

.hidden-edit-button, 
.hidden-delete-button {
  width: 70px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 23px;
}

.hidden-edit-button {
  right: 70px;
  background-color: #007AFF;
  background-image: url("../images/edit-icon.png");
}

.hidden-delete-button {
  right: 0;
  background-color: #FF3B30;
  background-image: url("../images/delete-icon.png");
}